body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: chartreuse; */
    /* border: 1px solid black; */
  
  }
  p{
  font-size: 18px;

  }
  
  #main {
    width: auto;
    height: auto;
 
  }
  
  .d-flex{
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .w-30{
    width: 30%;

  }

  .w-70{
    width: 70%;

  }

.team h2{
  text-align: center;
  font-size: 40px;
  background-color: blanchedalmond;
  
}


.conten-about{
  margin-top: 10px;

}


.name{
  padding-top: 5px;
  background-color: #EB455F;
  color: aliceblue;
  text-align: center;
  padding-bottom: 5px;
  font-size: 20px;
}



.conten-1{
  padding: 9%;

  background-color: rgb(247, 232, 213);
}
.about-2{
  padding-top: 20px;
  padding-bottom: 10px;

}



/* Foote  */
#footer{

  width: auto;
  height: auto;
  background-color: #181D31;
}
.ft-w-50{
  margin-left: 10%;
  padding: 5%;

}
.fx-20{
  font-size: 20px;
}
p{
  font-size: 18px;
}


.footer-1{
  margin-top: 5%;
  color: white;
  margin-left: 10%;
  margin-bottom: 10px;

}
.ct-h2{

  padding-left: 15px;
}
.a-ads{
  color: beige;
  text-decoration: none;
}

.footer-2{
  margin-top: 5%;
  margin-left: 10%;
  color: white;
  margin-bottom: 5px;
}
.pd-t25{
  padding-top: 25px
}
.hotline p{
  font-size: 16px;
  margin: 0;
}

.hotline{
  padding-top: 10px;
}

.icon a{
  text-decoration: none;

}
.hotline a{
  text-decoration: none;
  color: antiquewhite;
}
