* {
    font-family: Arial, Helvetica, sans-serif, ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper-1 {
    width: 100%;
    height: 80px
}

#header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #292929;
    background-color: #292929;
    font-size: 15px;
    box-shadow: 0 0 30px 1px #292929;
    position: fixed;
    z-index: 10;
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
}

#menu .item {
    margin: 0 5px;
    text-align: center;
    font-weight: 600;
}

#menu .item a {
    text-decoration: none;
    padding: 14px 25px;
    display: block;
}

#menu .item_menu {
    padding: 0 15px;
    position: relative;
    top: 0;
}

#menu .item_menu .item_brands {
    visibility: hidden;
    position: absolute;
    background-color: #292929;
    width: 100%;
    opacity: 0;
    transition: 0.25s;
}

.item_brands .brands a {
    text-align: left;
}

.item_bottom {
    border-bottom: #ff720b solid 3px;
}

#menu>.item>.item_bottom {
    color: #ff720b;
}

body {
    background-color: var(--text-color);
}

#menu>.item:hover>a,
.item_brands>.brands>a:hover {
    color: #ff720b;
    opacity: 0.7;
}

#menu>.item_menu:hover>.item_brands {
    visibility: visible;
    opacity: 1;
}

.item a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px 20px;
}

#search {
    background: #fff;
    border-radius: 100px;
}

#search_text {
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    font-size: 13px;
    width: 0;
    transition: all 0.25s ease-in-out;
}

#search_btn {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
}

#search:hover #search_text,
#search #search_text:valid {
    width: 150px;
    padding: 5px 0px 10px 10px;
}

#log_in {
    display: flex;
}

.user {
    padding-right: 12px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.map {
    margin: 20px 10%;
}

#contact {
    width: 100%;
    height: 100%;
}

#checkName,
#checkTextarea,
#checkEmail {
    font-size: 16px;
    color: red;
}

.section-header {
    text-align: center;
    margin-top: 50px;
    font: 300 60px 'Oswald', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    margin: 0px 10%;

}

.form-horizontal {
    max-width: 500px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control,
textarea {
    font-size: 17px;
    height: 60px;
    background-color: white;
    color: black;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 500px;
    background-color: rgba(255, 0, 0, 0.685);

    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 35px;
    transition: all .2s ease-in-out;
}

.send-text {
    padding-left: 100px;
    display: block;
    margin-top: 5px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.send-button:hover {
    background-color: #ff720b;
}

.direct-contact-container {
    margin: 0px 80px;
}

.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: black;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: black;
}

.place {
    font-size: 30px;
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #ff720b;
    text-decoration: none;
}

.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: black;
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: white;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255, 255, 255, .6);
}

@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }

    .direct-contact-container,
    .form-horizontal {
        margin: 0 auto;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }

    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }

    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container,
    .form-wrapper {
        float: none;
        margin: 0 auto;
    }

    .form-control,
    textarea {

        margin: 0 auto;
    }


    .name,
    .email,
    textarea {
        width: 280px;
    }

    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }

    .social-media-list {
        left: 0;
    }

    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }

    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }

}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}

.d-flex {
    margin-left: 10%;
    margin-right: 10%;
}

#footer {
    width: auto;
    height: auto;
    background-color: #292929;
}

.ft-w-50 {
    margin-left: 10%;
    padding: 5%;
}

.fx-20 {
    font-size: 20px;
}

.copyrigth {
    padding-top: 20px;
}

p {
    font-size: 18px;
}

.footer-1 {
    margin-top: 5%;
    color: white;
    margin-left: 10%;
    margin-bottom: 10px;

}

.ct-h2 {
    padding-left: 15px;
    font-size: 32px;
}

.pay {
    font-size: 32px;
}

.a-ads {
    color: beige;
    text-decoration: none;
}

.footer-2 {
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    margin-bottom: 5px;
}

.footer-logo {
    padding-left: 60px;
}

.icon {
    padding-left: 25px;
}

.pd-t25 {
    font-size: 32px;
    padding-top: 25px
}

.hotline p {
    font-size: 16px;
    margin: 0;
}

.hotline a {
    color: #fff;
    text-decoration: none;
}

.hotline>p>a:hover {
    color: #ff720b;
}

.icon a {
    text-decoration: none;
}