* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper1 {
    width: 100%;
    height: 80px
}

#header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #292929;
    background-color: #292929;
    font-size: 15px;
    box-shadow: 0 0 30px 1px #292929;
    position: fixed;
    z-index: 10;
}

#menu {
    list-style: none;
    display: flex;
    align-items: center;
}

#menu .item {
    margin: 0 5px;
    text-align: center;
    font-weight: 600;
}

#menu .item a {
    text-decoration: none;
    padding: 14px 25px;
    display: block;
}

#menu .item_menu {
    padding: 0 15px;
    position: relative;
    top: 0;
}

#menu .item_menu .item_brands {
    visibility: hidden;
    position: absolute;
    background-color: #292929;
    width: 100%;
    opacity: 0;
    transition: 0.25s;
}

.item_brands .brands a {
    text-align: left;
}

.item_bottom,
#menu>.item_bottom {
    border-bottom: #ff720b solid 3px;
}

#menu>.item_menu>.item_bottom {
    color: #ff720b;
}

#menu .brands .bottom-color {
    color: #ff720b;
}

body {
    background-color: var(--text-color);
}

#menu>.item:hover>a,
.item_brands>.brands>a:hover {
    color: #ff720b;
    opacity: 0.7;
}

#menu>.item_menu:hover>.item_brands {
    visibility: visible;
    opacity: 1;
}

.item a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px 20px;
}

#search {
    background: #fff;
    border-radius: 100px;
}

#search_text {
    border: none;
    outline: none;
    background: none;
    padding: 0px;
    font-size: 13px;
    width: 0;
    transition: all 0.25s ease-in-out;
}

#search_btn {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
}

#search:hover #search_text,
#search #search_text:valid {
    width: 150px;
    padding: 5px 0px 10px 10px;
}

#log_in {
    display: flex;
}

.user {
    padding-right: 12px;
}

.checked {
    color: orange;
}

#main {
    padding: 50px;
    margin-left: 12%;
    margin-right: 12%;
}

.information {
    text-align: center;
    margin: 20px 0px;

}

.tab {
    display: flex;
    justify-content: center;
}

.fx-30 {
    font-size: 40px;
}

#wrapper {
    max-width: 1170px;
    margin: 0px auto;
}

h3 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    padding: 10px 20px;
}

.content {
    text-align: justify;
}


ul.products {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    border-radius: 5px;
    flex-basis: 30%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

ul.products li img {
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb {
    display: block;
}

ul.products li .product-top .product-thumb img {
    display: block;
}

ul.products li:hover .product-top .product-thumb img {
    filter: opacity(80%);
}

ul.products li .product-top a.buy {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #ff7720;
    color: #fff;
    padding: 5px 0px;
    position: absolute;
    width: 100%;
    bottom: -40px;
    transition: 0.25s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy {
    bottom: 0px;
}

.product-info a {
    text-decoration: none;
}

.product-item{
    font-size: 16px;
    font-weight: 600;
}

.product-info {
    font-weight: 600;
    font-size: 16px;
}

a.product-name {
    padding-top: 10px;
    color: black;
}

a.product-name:hover {
    color: #ff720b;
}

.product-price {
    font-weight: 600;
    font-size: 16px;
}

.product-item:hover {
    border: 2px solid #ff720b;
}

#footer {
    width: auto;
    height: auto;
    background-color: #181D31;
}

.ft-w-50 {
    margin-left: 10%;
    padding: 5%;

}

.fx-20 {
    font-size: 20px;
}

.copyrigth p{
    font-size: 18px;
    padding-top: 20px;
}


.footer-1 {
    margin-top: 5%;
    color: white;
    margin-left: 10%;
    margin-bottom: 10px;

}

.ct-h2 {
    padding-left: 15px;
}

.a-ads {
    color: beige;
    text-decoration: none;
}

.footer-2 {
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    margin-bottom: 5px;
}

.pd-t25 {
    padding-top: 25px
}

.hotline p {
    font-size: 16px;
    margin: 0;
}

.hotline {
    padding-top: 10px;
}

.icon a {
    text-decoration: none;
}

.hotline a {
    font-size: 16px;
    text-decoration: none;
    color: antiquewhite;
}

.d-flex {
    margin-left: 10%;
    margin-right: 10%;
}

.hotline>p>a:hover {
    color: #ff720b;
}

.footer-logo {
    padding-left: 60px;
}

.detailed-address{
    font-size: 18px;
}

.icon {
    padding-left: 25px;
}